[ req ]
prompt = no
encrypt_key = no
default_md = sha512
distinguished_name = dname
req_extensions = reqext

[ dname ]
CN = {{ domains[0] }}
emailAddress = admin@{{ domains[0] }}

[ reqext ]
subjectAltName = DNS:{{ domains | join(', DNS:')}}
